:root{
    --bold: 800;
    --header-color: #2e282a;
    --intro-color: #1e212b;
    --work-color: #F7FFF9;
    --text-color:#212738;
    --important-text-color: #ad2831;
}

/*STANDARD*/
*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 70%;
    scroll-behavior: smooth;
}
    /*PC*/
@media (max-width: 75em){
    html{
        font-size: 60%;
    }
}
    /*TABLET*/
@media (max-width: 61.25em){
    html{
        font-size: 58%;
    }
}
    /*MOBILE*/
@media (max-width: 28.75em){
    html{
        font-size: 55%;
    }
}

body{
    font-family: 'lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--text-color);
}

h1,h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 4.2rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    display: block;
    width: 100%;
}
/*STANDARD*/

/*NAVIGATION*/
.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-color);
    color: var(--work-color);
    z-index: 10;
}

.nav-list{
    display: flex;
    margin-right: 2rem;
}

.nav-list li{
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list li:hover{
    background-color: var(--important-text-color);
    cursor: pointer;
}

header>nav>ul>li>a{
    color: var(--work-color);
}

/*MEDIA*/
@media (max-width: 28.75em){
    .nav{
        justify-content: center;
    }
    .nav-list{
        margin: 0 1rem;
    }
}
/*MEDIA*/
/*NAVIGATION*/

/*INTRODUCTION*/
.intro-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--intro-color);
    background: url("./media/sky.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;  
    background-size: cover;
}

.intro-section > p{
    font-size: 3rem;
    font-weight: 300;
    color: var(--important-text-color);
}

.intro-section > span{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 1rem 0 0;
    font-weight: 400;
    font-style: italic;
    opacity: 0.75;
}
.greeting{
    align-self: start;
    padding: 0 1em;
}

h1>span{
    color: var(--important-text-color);
}
/*INTRODUCTION*/

/**WORK**/
.work-section{
    text-align: center;
    padding: 10rem 2rem;
    background: var(--work-color);
}

.work-section h2{
    max-width: 900px;
    margin: 0 auto 6rem auto;
    padding: 1rem 0;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    margin-bottom: 6rem;
    position: relative;
}

.work{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

.work-image{
    transition: .5s ease;
    backface-visibility: hidden;
    
}

.work-cell{
    position: relative;
    width: 100%;
    height: 100%;
}

.description{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    opacity: 0;
    display: flex;
    color: var(--work-color);
    padding: 3rem;
    font-weight: 300;
    letter-spacing: 3px;
}

.work-cell:hover .image{
    opacity: 0.3;
}

.work-cell:hover .description{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    
}

.text > span{
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    text-align: right;
    width: auto;
    margin: 0 10px;
    font-style: italic;
    font-weight: 300;
    color: rgb(214, 214, 214);
}

.work-image{
    object-fit: cover;
}

.work-name{
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.im{
    cursor: default;
}

/**MEDIA**/
@media (max-width: 28.75em) {
    .work-section h2 {
      font-size: 4rem;
    }
  }

@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}  
/**MEDIA**/
/**WORK**/

/**CONTACTS**/
.contacts-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    background: var(--intro-color);
    color: var(--work-color);
}

.contacts-top > h2{
    font-size: 6rem;
    padding-top: 1em;
}

.contacts-top > p{
    font-weight: 300;
}

.contacts-list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.icon > i{
    font-size: 2rem;
    padding-bottom: 3em; 
    color: var(--work-color);
}

.contacts-details{
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.2s ease-out;
}

.contacts-details:hover{
    transform: translateY(-5px);
}

.created {
    font-weight: 300;
    padding-bottom: 1rem;
}
/**MEDIA**/
@media (max-width: 28.75em) {
    .contacts-top > h2 {
      font-size: 4rem;
    }
}
/**MEDIA**/
/**CONTACTS**/
